[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Vivado HLS
Exec=zsh -c "mkdir -p ~/.Xilinx && cd ~/.Xilinx && source /opt/Xilinx/Vivado/2017.4/settings64.sh && vivado_hls"
Name=Vivado HLS
StartupNotify=true
